body {
    font-family: Roboto, Arial, sans-serif;
    color: #eab676;
    background-image: url("../img/background-pug.jpeg");
}

.top {
    height: 550px;
    background-image: linear-gradient(to right, #7070db, #063970);
}
.header-logo {
    margin-left: 26px;
    overflow: hidden;
    border-radius: 50%;
}
.hero-image img{
    clip-path: circle();
    width: 350px;
    margin: auto;
}

.button-explore button {
    background-color: #ff4d4d;
    border-radius: 6px;
    transition-duration: 0.4s;
    font-size: 16px;
    font-weight: 550;
    
}
.button-explore button:hover {
    background-color: #eab676;
}

ul {
    list-style-type: none;
    font-size: 26px;
}

a {
    text-decoration: none;
    color: #eab676;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links{
    display: flex;
    gap: 24px;
    margin-right: 16px;
}

.hero {
    padding-top: 40px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.hero-text {
    font-weight: 600;
    display: inline-flex;
    flex-direction: column;
    max-width: 650px;
    justify-content: space-evenly;
}

.hero-text h1, {
    font-size: 40px;
    flex-grow: 1;
    flex-shrink: 1;
}


.hero-container {
    display: flex;
    align-items: center;
}

.middle-title {
    margin-top: 40px;
    text-align: center;
    text-shadow: 2px 2px black;
}

.dog-photos {
    display: flex;
    justify-content: space-around;
}

.dog-photos img {
flex: 1;
width: 450px;
height: 450px;
object-fit: cover;
border: 2px solid black;
border-radius: 10px;
}

.dog-photos {
    display: flex;
}

.description {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px black;
    flex: 1;
    max-width: 400px;
    text-align: center;
}